{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-12 col-lg-4">
    {% load static %}

    {% if product.image %}
    <img
        class="img-fluid"
        src="{{ product.image.url }}"
        alt="{{ product.name }}">
    {% else %}
    <img
        class="img-fluid"
        src="{% static 'images/no-image.jpg' %}"
        alt="No image available"
    >
    {% endif %}
    
  </div>

  <div class="col-12 col-lg-8">
    <h1>{{ product.name }}</h1>

    <p class="fs-3 fw-bold mb-3">£{{ product.price }}</p>

    {% if product.description %}
    <p class="text-muted mt-2 mb-4"><strong>Description:</strong>
        {{ product.description }}
    </p>
    {% endif %}

    <p class="text-muted mb-1">
      <strong>Brand:</strong>
      {{ product.brand }}
    </p>

    <p class="text-muted mb-1">
      <strong>Category:</strong>
      {{ product.category }}
    </p>

    {% if product.materials %}
    <p class="text-muted mb-1"><strong>Materials:</strong>
        {{ product.materials }}
    </p>
    {% endif %}

    {% if product.size_or_quantity %}
    <p class="text-muted mb-1"><strong>Size/Quantity:</strong>
        {{ product.size_or_quantity }}
    </p>
    {% endif %}    

    {% if product.stock_quantity == 0 %}
    <p class="text-danger fw-bold">Out of stock</p>
    {% elif product.stock_quantity <= 5 %}
    <p class="text-warning fw-bold">
      Low stock — only {{ product.stock_quantity }} left
    </p>
    {% else %}
    <p class="text-success fw-bold">In stock</p>
    {% endif %}

    {% if product.ingredients %}
    <p class="text-muted mb-1"><strong>Ingredients:</strong>
        {{ product.ingredients }}
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
