<h1>Products</h1>

<form method="GET" action="{% url 'all_products' %}">
    <label for="product-search">Search products</label>

    <input
        id="product-search"
        type="search"
        placeholder="Search products..."
        name="q"
        value="{{ search_term|default:'' }}"
    >

    <button type="submit">
        Search
    </button>
</form>

<a href="{% url 'all_products' %}">
    All Products
</a>

{% for category in categories %}
    <a href="{% url 'all_products' %}?category={{ category.name }}{% if search_term %}&q={{ search_term }}{% endif %}">
        {{ category.friendly_name }}
    </a>
{% endfor %}

{% for product in products %}

<div>
<h2><a href="{% url 'product_detail' product.id %}">
    {{ product.name }}
</a>
</h2>

<p>
    {{ product.brand.name }}
</p>
<p>
    {{ product.category.friendly_name }}
</p>
<p>
    Price: £{{ product.price }}
</p>
{% if product.image %}
<img src="{{ product.image.url }}" alt="{{ product.name }}">
{% endif %}
<p>
    {% if product.stock_quantity > 0 %}
        In Stock
    {% else %}
        Out of Stock
    {% endif %}
</p>
<p>
    {{ product.description|truncatechars:100 }}
</p>
</div>

{% empty %}

<p>There are no products available at this moment. Check back soon.</p>

{% endfor %}